<%- include('header') -%>

<h1>Þér hefur verið sent upplýsingar á netfangið þitt</h1>
<p>Vinsamlegast farðu eftir leiðbeiningunum það, ýttu hér til að fara aftur
   á innskráningarsíðu.
</p>
<p><a href="/login">Innskráning</a></p>

<%- include('footer') -%>