   </main>
    <footer class="footer">
     <p>Lokaverkefni eftir Emil Alfreðsson (TÖL261L)</p>
     <p>Leiðbeinandi: Ebba Þóra Hvannberg</p>
     <div>
      <p>EA Fasteignir</p>
     </div>
    </footer>
  </body>
</html>
