<!DOCTYPE html>
<html lang="is">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:700" rel="stylesheet">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">

    <link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class = "navBar">
        <a href="/houses">
        <img src = "../../logo.png">
        </a>
      <% if(typeof user === 'undefined'){ %>  
        <p><a href="/login">Innskráning</a></p>
        <p><a href="/register">Nýskráning</a></p>
      <% } %>
      <% if(typeof user !== 'undefined'){ %>  
        <p><a href="/checkin">Panta tíma</a></p>
      <% } %>
        <p><a href="/houses">Söluskrá</a></p>
        <p><a href="/employees">Sölumenn</a></p>
            <% if(typeof user !== 'undefined' && user.admin){ %>      
                <p><a href="/admin">Notendur</a></p>
                <p><a href="/requests">Fyrirspurnir & pantanir</a></p>
            <% } %>
          <div class = "logout">
          <% if(typeof user !== 'undefined'){ %>      
            <p><%= user.username %></p>
            <p><a href="/logout">Útskrá</a></p>
            <% } %>
          </div>
      </div>
    </header>
    <main>
