<%- include('header') -%>

<div class = "navBarLogged">
    <p><a href="/houses">Söluskrá</a></p>
    <p><a href="/admin">Notendur</a></p>
    <div class = "logout">
        <p><%= user.username %></p>
        <p><a href="/logout">Útskrá</a></p>
    </div>
</div>

<%- include('footer') -%>    