* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#map{
  height: 40rem;
  width: 100%;
}

input,
select,
textarea,
button {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1, h2 {
  margin-bottom: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
}

main {
  margin: 2rem;
}

table{
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th, td {
  padding: 0.5rem;
}

tr:nth-child(even){
  background-color: Gainsboro;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.field label {
  font-size: 1.375rem;
}

.field input,
.field textarea {
  padding: 8px;
  max-width: 800px;

  border: 1px solid #888;
  border-radius: 3px;
}

.field textarea {
  flex: 1;
  min-height: 6rem;
}

.field--invalid input,
.field--invalid textarea {
  border-color: #855;
  background-color: #fbb;
}

.field--radio {
  margin-left: -1rem;
  padding: 1rem;
}

.field--radio label {
  flex: initial;
  align-items: center;
  display: flex;
}

.field--radio.field--invalid {
  background-color: #fbb;
}

.field--radio input {
  margin-right: 1rem;
}

button {
  border: 1px solid #888;
  border-radius: 3px;
  padding: 0.5rem;
  background-color: #fff;
  transition: background-color ease-in 300ms;
}

button:hover {
  background-color: #bbb;
}

.errors {
  margin-bottom: 2rem;
}

.head {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  padding-bottom: 1rem; 
  margin-bottom: 2rem;
  border-bottom-style: solid;
  border-width: 0.1rem;
}

.resetlink {
  margin-top: 1rem;
}

.reset {
  font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: black;
}

.houses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.house {
  width: 25rem;
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.house > h2 {
  margin: 0;
}

.house > .img-effect { 
  overflow: hidden; 
  height: 15rem;
}

.house > .img-effect > a > img {
  width: 100%;
  height: 100%;
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(50%);
}

  .house > .img-effect > a > img:hover { 
    filter: brightness(100%);
    transform: scale(1.3);
  }

.house > .description {
  display: flex;
  justify-content: space-between;
  margin-top:-0.4rem;
  background-color: gainsboro;
}

.house > .description > .right >p{
  padding: 0.5rem;
}

.house > .description > .left >p{
  padding: 0.5rem;
}

.house > .action {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.house-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.house-desc {
  margin-right: 15rem;
  margin-left: 15rem;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: solid;
  border-width: thin;
  border-color: #888;   
}

.house-desc > .price {
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.3rem;
  background-color: gainsboro;
  max-width: 19rem;
  text-align: center;
}

.house-desc > .impo-details {
  display: flex;
  margin-top: 1rem;
}

.house-desc > .impo-details > div {
  margin-right: 3rem;
  font-size: 1.5rem;
}

.house-desc > .impo-details > div > .name {
  background-color: gray;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.house-desc > .details {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  border-top: solid;
  border-width: thin;
  border-color: #888;  
}

.house-desc > .about {
  margin-top: 1rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-top: solid;
  border-bottom: solid;
  border-width: thin;
  border-color: #888;  
}

.house-desc > .details > .info {
  display: flex;
  margin-top: 1rem;
}

.house-desc > .details > .info > p {
  margin-right: 0.2rem;
}

.house-desc > .details > .info > .name {
  background-color: gray;
  border-radius: 0.3rem;
  color: white;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.house-additional {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: solid;
  border-width: thin;
  border-color: #888;
  background: gainsboro;
}

.house-additional > .house-request {
  margin-right: 1.5rem;
  width: 50rem;
}

.house-additional > .house-employee {
  margin-left: 1.5rem;
}

.request-container {
  display: flex;
  justify-content: space-evenly;
}

.requests {
  text-align: center;
  max-width: 30rem;
  background-color: gainsboro;
  border-radius: 0.5rem;
  padding: 1rem;
}

.request {
  margin-bottom: 0.5rem;
}

.requests > .requestslist {
  text-align: center;
  max-width: 30rem;
  padding-bottom: 1rem; 
  border-bottom-style: solid;
  border-width: 0.1rem;
}

.checkins {
  text-align: center;
  max-width: 30rem;
  background-color: gainsboro;
  border-radius: 0.5rem;
  padding: 1rem;
}

.checkin {
  margin-bottom: 0.5rem;
}

.checkins > .checkinlist {
  text-align: center;
  max-width: 30rem;
  padding-bottom: 1rem; 
  border-bottom-style: solid;
  border-width: 0.1rem;
}

.checkin-item > form > .pick-house, .pick-day, .pick-time{
  margin-bottom: 1rem;
  background-color: gainsboro;
  border-radius: 0.5rem;
  padding: 0.5rem;
  max-width: 21rem;
}

.checkin-item > form > .pick-house > .field{
  margin-bottom: 0;
}

.checkin-item > form > .pick-time > .field{
  margin-bottom: 0;
}

.field > .req {
display: flex;
height: 21rem;
}

.navBar{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-height: 8rem;
  background-color: #888;
}

.navBar > a > img {
  max-width: 18rem;
  max-height: 15rem;
}

.navBar > p {
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  color:white;
}

.navBar > p > a {
  margin-top: auto;
  margin-bottom: auto;
  transition: all .5s ease;
  text-align: center;
  background-color : transparent;
  padding: 1rem;
  outline: none;
  border-radius: 4px;
  text-decoration: none;
  color: white;
}

.navBar > p:hover > a {
  color: black;
  background-color: #fff;
}

.logout{
  display: flex;
  flex-direction: column;
  border-left-style: solid;
  border-width: 0.1rem;
  border-color: white;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1rem;
  padding: 1rem;
}

.logout > p > a{
  text-decoration: none;
  color: white;
}

.employee > h2 {
  margin: 0;
}

.employees > .employee {
  border-bottom: solid;
  border-width: thin;
  border-color: #888;
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.employees > .employee > img {
  height: 20rem;
  width: 15rem;
}

.table{
  margin-bottom: 1rem;
  text-align: -webkit-center;
}

.adminUpdate{
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: gray;
  color: white;
  text-align: center;
  padding-top:0.5rem;
  margin-top: auto;
}

.footer > p {
  padding: 0.5rem;
}

.footer > div {
  border-top: 1px solid gainsboro;
  color: gainsboro;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  padding: 0.5rem;
}


@media (min-width: 600px) {
  .field {
    flex-direction: row;
  }

  .field label {
    flex: 0 0 200px;
  }

  .field--radio label {
    flex: initial;
  }

  .field input {
    flex: 1;
  }
}

@media (max-width: 600px) {
  .table{
    margin-bottom: 1rem;
    overflow-x: auto;
  }
}

@media (max-width: 400px) {

  .navBar{
    position: fixed;
    height: 20rem;
    width: 75%;
    bottom: 0;
    display: flex;
    margin-left: -2rem;
  }

  .navBarLogged{
    position: fixed;
    height: 2rem;
    width: 75%;
    bottom: 0;
    display: flex;
    margin-left: -2rem;
  }
}